.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #04475a;
  color: white; 
}
.nav-Links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  color: white;
}
.nav-Items{
  color: white;
}
.items{
  text-align: center;
}
.random-item{
  background: rgb(107, 19, 19);
  color: rgb(255, 190, 190);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.fortnite-items-list{
  background: rgb(255, 255, 255);
  color: rgb(255, 190, 190);
  align-items: center;
  
}