body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btnColumn{
  width: 45%;
  float: left;
  border-right: solid black;
}
.column{
  padding-left: 25px;
  width: 45%;
  float: left;
  justify-content: space-around;
}
.row{
  margin:auto;
  width: 60%;
  align-self: center;
}
body{
  margin: auto;
}
h1{
  padding-bottom: 25px;
}
table{
  padding-top: 10px;
}
.btn{
  width: 80%;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid black;
  background: #ccffda;
  font-size: 15px;
  cursor: pointer;
}
.btn.btn2{
  width: 80%;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid black;
  background: #389150;
  font-size: 15px;
  cursor: pointer;
}
.btn.btn3{
  width: 80%;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid black;
  background: #d5e0d6;
  font-size: 15px;
  cursor: pointer;
}
.btn.btn2:hover{
  width: 80%;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid black;
  background: #296b38;
  font-size: 15px;
  cursor: pointer;
}
.btn.btn3:hover{
  width: 80%;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid black;
  background: #a7ada8;
  font-size: 15px;
  cursor: not-allowed;
}
.btn:hover{
  width: 80%;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid black;
  background: #70c486;
  font-size: 15px;
  cursor: pointer;
}
.tableHeading{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid black;
  font-size: 20px;
  font-family:Georgia;
  font-weight: bold;
  color: rgb(221, 79, 43);
  float: left;
  width: 50%;
  text-align: center;
}
.tableFooter{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid black;
  font-size: 20px;
  font-family:Georgia;
  font-weight: bold;
  float: left;
  width: 50%;
  text-align: center;
}
td{
  font-size: large;
  width: 250px;
  text-align: center;
}
tfoot{
  font-size:x-large;
  font-weight:bolder;
  color: rgb(221, 79, 43);
}
